body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: #2f3640;
    margin-top: 20px;
}

form {
    background-color: #fff;
    display: inline-block;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #dcdde1;
    margin-top: 20px;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 250px;
    border: 1px solid #dcdde1;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #44bd32;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #4cd137;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px #dcdde1;
}

th, td {
    padding: 12px;
    border: 1px solid #dcdde1;
}

th {
    background-color: #00a8ff;
    color: white;
}

a {
    color: #273c75;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #487eb0;
}

.dashboard-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.dash-btn {
    display: inline-block;
    background-color: #273c75;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.dash-btn:hover {
    background-color: #40739e;
    transform: translateY(-2px);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #273c75;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 10px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #40739e;
    border-radius: 5px;
}


body {
    padding-top: 70px;
}
